.shopcategory-banner{
   display: block;
   margin: 30px auto;
   width: 82%; 
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-products{
    margin: 50px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;

}
.shopcategory-loadmore{
    width: 233px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 150px auto;
    color: #787878;
    background:#ededed;
    border-radius: 75px;
    font-size: 18px;
    font-weight: 500;
}